<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">{{site.username}}</span>
        </h1>
        <br>
        <div class="icons-home">
            <a aria-label="Books" title="books" target="_blank" href="https://ljq199612.github.io/theme-space/page/books.html">
                <svg class="icon icon-books"><use xlink:href="#icon-books"></use></svg>
            </a>
            <a aria-label="Book" title="Book" href="{{site.gitbook_url}}">
                <svg class="icon icon-book"><use xlink:href="#icon-book"></use></svg>
            </a>
            <a aria-label="Github" title="my github" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>
            <a aria-label="LinkedIn" title="my linkedin" target="_blank" 
                        href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>
            <a aria-label="email" title="send to email" target="_blank" 
                        href="mailto:{{site.email}}">
                <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
            </a>
            <a aria-label="RSS" title="Register for my RSS" target="_blank"
                    href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg>
            </a>
        </div>

        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="only test" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>Recent projects:</p>
                <li>
                    <a title="light-page" href="https://ljq199612.github.io/light-page/">
                        <h2 class="post-title" itemprop="name">light-page</h2>
                    </a>
                </li>
        </ul>

    </div>
    {% include menu-search.html %}
</header>
