<div class="search-wrapper">

    <div class="search-form">
        <input arial-label="Search for a post" type="text" class="search-field" placeholder="Search...">
        <svg class="icon-remove-sign"><use xlink:href="#icon-close"></use></svg>

        <ul class="search-results search-list"></ul>
    </div>

</div>

<!-- Menu Open -> Fade effect -->
<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
</a>

<aside id="sidebar">
  <div id="topmenu">
    {% assign filename = page.url
                         | replace_first: '/', ''
                         | replace: '/', '-'
                         | replace: '.html', '.md' %}
    <ul>
      <li><span>1</span></li>
      <li><span>~~灿烂人生~~</span></li>
      <li><span>～ I believe ~</span></li>
      <li><span>* Menu</span></li>
    </ul>

    <ul>
      <li><span>utf-8</span></li>
      <li><span>～诚实是智谋的基本条件～</span></li>
      <!--       <li><span>通往幸福最错误的途径，莫过于名利、享乐和奢华生活</span></li> -->
      <li>
        <span  id="span_dt_dt" ></span>
        <script language="javascript" type="text/javascript">
            function show_date_time(){
                var now = new Date(); //获取系统日期
                //获取时间
                var YY=now.getFullYear();
                var MM=now.getMonth()+1;
                var DD=now.getDate();
                var WW=now.getDay();
                
                var hh = now.getHours(); //获取小时
                var mm = now.getMinutes(); //获取分钟
                var ss = now.getTime() % 60000; //获取时间，因为系统中时间是以毫秒计算的，
                //所以秒要通过余60000得到。
                    ss = (ss - (ss % 1000)) / 1000; //然后，将得到的毫秒数再处理成秒
                span_dt_dt.innerHTML=YY+"年"+MM+"月"+DD+"日"+"/  "+"星期"+WW+"/ "+hh+"时"+mm+"分";//+now
            }
            window.setTimeout("show_date_time()", 60000);
        </script> 
      </li>
    </ul>
  </div>

  <nav id="navigation" role="navigation">
    {% for section in site.links %}
      <ul>
      {% for link in section[1] %}
        {% if link.external %}
            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
        {% else %}
            <li>
                <span class="counter-menu">{{link.key_trigger}}</span>
                <svg viewBox="0 0 50 50" class="icon-arrow-thin-right">
                    <use xlink:href="#icon-arrow-thin-right"></use>
                </svg>
                <a class="nalLink" key-trigger={{link.key_trigger}} 
                    href="{{ site.url }}{{ link.url }}"> {{ link.title }}</a>
            </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endfor %}
  </nav>
</aside>

<a id="search" class="dosearch">
    <svg class="icon-menu icon-search"><use xlink:href="#icon-search"></use></svg>
</a>
