
body  {
  font-family : 'Aller Light', Helvetica, Arial, sans-serif;
  background-color: white;
}

.article {
 /* width: 90%; */
 /* margin: 30px auto auto; */
  font-size: 16px;
  color: #4b4949;
}

.article_head {
    border-bottom: 1px solid #ddd;
}

.article_name {
    font-size: x-large;
    font-weight: bold;
    color: #13426b;
}

.article a {
    color: cornflowerblue;
    float: right;
    text-decoration: none;
    margin: 5px;
}

.article_content {
    line-height: 24px;
    margin-top: 10px;
}

.hidden_article {
    height: 48px;
    overflow: hidden;
}


.article_line {
     margin-top: 0;
}

div.showbtn {
    display: block;
    margin: 5px auto;
    width: 80px;
    font-size: 14px;
    color: #7a8f9a;
    line-height: 14px;
    cursor: pointer;
}

.article_date{
    float: right;
    font-size: small
}


@media only screen and (min-width:1100px) {
    .article{
        width:80%;
        margin: 40px auto auto;
    }
    .article_content{
        line-height: 28px;
        margin-top: 15px;
        font-size: large;
    }
    .article_name{
        font_size: 28px;
    }
    .hidden_article {
        height: 56px;
    }

}

@media only screen and (min-width:700px) and (max-width:1100px)  {
    .article{
        width:85%;
        margin: 30px auto auto;
    }
    .article_content{
        /* line-height: 28px; */
        margin-top: 10px;
        /* font-size: large; */
    }
}

@media only screen and (max-width:700px)  {
    .article{
        width:90%;
        margin: 30px auto auto;
    }
    .article_content{
        line-height: 24px; 
        margin-top: 10px;
        /* font-size: large; */
    }
}
